<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>YLearn</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!--Favicons -->
    <link href="dashboard_assets/img/default.png" rel="icon">
    <link href="dashboard_assets/img/default.png" rel="apple-touch-icon">
  
    <!--Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!--Vendor CSS Files -->
    <link href="/static/dashboard_assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/dashboard_assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/dashboard_assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/static/dashboard_assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="/static/dashboard_assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="/static/dashboard_assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/static/dashboard_assets/vendor/simple-datatables/style.css" rel="stylesheet">
  
    <!--Main CSS File -->
    <link href="/static/dashboard_assets/css/style.css" rel="stylesheet">
  </head>

<body>

  <main>
    <div class="container">

      <section class="section register">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="dash.html" class="logo d-flex align-items-center w-auto">
                  <img src="dashboard_assets/img/logo.png" alt="">
                  <span class="d-none d-lg-block">YLearn Admin</span>
                </a>
              </div><!-- End Logo -->

              <div style="overflow: scroll;" class="card">

                <div style="overflow: scroll;" class="card-body">

                  <div>
                    <h5 class="card-title text-center">Create a Lesson</h5>
                    <p class="text-center small">Enter your Lesson Details</p>
                  </div>

                  <div class="row g-3 needs-validation" novalidate>

                    <form>

                        <legend>Set 1</legend>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Question</label>
                      <input type="text" name="Video" class="form-control" id="yourPassword" required>
                      <div class="invalid-feedback">Please enter Question!</div>
                    </div>

                    <div class="col-12">
                        <label for="yourPassword" class="form-label">Possible Answers</label>
                        <input type="text" name="Video" class="form-control" placeholder="Ans1, Ans2, Ans3, Ans4" id="yourPassword" required>
                        <div class="invalid-feedback">Please enter Possible Answers!</div>
                      </div>

                      <div class="col-12">
                        <label for="yourPassword" class="form-label">Correct Answer</label>
                        <input type="text" name="Video" class="form-control" id="yourPassword" required>
                        <div class="invalid-feedback">Please enter The Correct Answer!</div>
                      </div>
                    
                    </form>
                    <form>

                        <legend>Set 2</legend>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Question</label>
                      <input type="text" name="Video" class="form-control" id="yourPassword" required>
                      <div class="invalid-feedback">Please enter Question!</div>
                    </div>

                    <div class="col-12">
                        <label for="yourPassword" class="form-label">Possible Answers</label>
                        <input type="text" name="Video" class="form-control" placeholder="Ans1, Ans2, Ans3, Ans4" id="yourPassword" required>
                        <div class="invalid-feedback">Please enter Possible Answers!</div>
                      </div>

                      <div class="col-12">
                        <label for="yourPassword" class="form-label">Correct Answer</label>
                        <input type="text" name="Video" class="form-control" id="yourPassword" required>
                        <div class="invalid-feedback">Please enter The Correct Answer!</div>
                      </div>
                    
                    </form>
                    <form>

                        <legend>Set 3</legend>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Question</label>
                      <input type="text" name="Video" class="form-control" id="yourPassword" required>
                      <div class="invalid-feedback">Please enter Question!</div>
                    </div>

                    <div class="col-12">
                        <label for="yourPassword" class="form-label">Possible Answers</label>
                        <input type="text" name="Video" class="form-control" placeholder="Ans1, Ans2, Ans3, Ans4" id="yourPassword" required>
                        <div class="invalid-feedback">Please enter Possible Answers!</div>
                      </div>

                      <div class="col-12">
                        <label for="yourPassword" class="form-label">Correct Answer</label>
                        <input type="text" name="Video" class="form-control" id="yourPassword" required>
                        <div class="invalid-feedback">Please enter The Correct Answer!</div>
                      </div>
                    
                    </form>
                    <form>

                        <legend>Set 4</legend>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Question</label>
                      <input type="text" name="Video" class="form-control" id="yourPassword" required>
                      <div class="invalid-feedback">Please enter Question!</div>
                    </div>

                    <div class="col-12">
                        <label for="yourPassword" class="form-label">Possible Answers</label>
                        <input type="text" name="Video" class="form-control" placeholder="Ans1, Ans2, Ans3, Ans4" id="yourPassword" required>
                        <div class="invalid-feedback">Please enter Possible Answers!</div>
                      </div>

                      <div class="col-12">
                        <label for="yourPassword" class="form-label">Correct Answer</label>
                        <input type="text" name="Video" class="form-control" id="yourPassword" required>
                        <div class="invalid-feedback">Please enter The Correct Answer!</div>
                      </div>
                    
                    </form>
                    <form>

                        <legend>Set 5</legend>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Question</label>
                      <input type="text" name="Video" class="form-control" id="yourPassword" required>
                      <div class="invalid-feedback">Please enter Question!</div>
                    </div>

                    <div class="col-12">
                        <label for="yourPassword" class="form-label">Possible Answers</label>
                        <input type="text" name="Video" class="form-control" placeholder="Ans1, Ans2, Ans3, Ans4" id="yourPassword" required>
                        <div class="invalid-feedback">Please enter Possible Answers!</div>
                      </div>

                      <div class="col-12">
                        <label for="yourPassword" class="form-label">Correct Answer</label>
                        <input type="text" name="Video" class="form-control" id="yourPassword" required>
                        <div class="invalid-feedback">Please enter The Correct Answer!</div>
                      </div>
                    
                    </form>
                    <form>

                        <legend>Set 6</legend>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Question</label>
                      <input type="text" name="Video" class="form-control" id="yourPassword" required>
                      <div class="invalid-feedback">Please enter Question!</div>
                    </div>

                    <div class="col-12">
                        <label for="yourPassword" class="form-label">Possible Answers</label>
                        <input type="text" name="Video" class="form-control" placeholder="Ans1, Ans2, Ans3, Ans4" id="yourPassword" required>
                        <div class="invalid-feedback">Please enter Possible Answers!</div>
                      </div>

                      <div class="col-12">
                        <label for="yourPassword" class="form-label">Correct Answer</label>
                        <input type="text" name="Video" class="form-control" id="yourPassword" required>
                        <div class="invalid-feedback">Please enter The Correct Answer!</div>
                      </div>
                    
                    </form>
                    <form>

                        <legend>Set 7</legend>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Question</label>
                      <input type="text" name="Video" class="form-control" id="yourPassword" required>
                      <div class="invalid-feedback">Please enter Question!</div>
                    </div>

                    <div class="col-12">
                        <label for="yourPassword" class="form-label">Possible Answers</label>
                        <input type="text" name="Video" class="form-control" placeholder="Ans1, Ans2, Ans3, Ans4" id="yourPassword" required>
                        <div class="invalid-feedback">Please enter Possible Answers!</div>
                      </div>

                      <div class="col-12">
                        <label for="yourPassword" class="form-label">Correct Answer</label>
                        <input type="text" name="Video" class="form-control" id="yourPassword" required>
                        <div class="invalid-feedback">Please enter The Correct Answer!</div>
                      </div>
                    
                    </form>
                    <form>

                        <legend>Set 8</legend>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Question</label>
                      <input type="text" name="Video" class="form-control" id="yourPassword" required>
                      <div class="invalid-feedback">Please enter Question!</div>
                    </div>

                    <div class="col-12">
                        <label for="yourPassword" class="form-label">Possible Answers</label>
                        <input type="text" name="Video" class="form-control" placeholder="Ans1, Ans2, Ans3, Ans4" id="yourPassword" required>
                        <div class="invalid-feedback">Please enter Possible Answers!</div>
                      </div>

                      <div class="col-12">
                        <label for="yourPassword" class="form-label">Correct Answer</label>
                        <input type="text" name="Video" class="form-control" id="yourPassword" required>
                        <div class="invalid-feedback">Please enter The Correct Answer!</div>
                      </div>
                    
                    </form>
                    <form>

                        <legend>Set 9</legend>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Question</label>
                      <input type="text" name="Video" class="form-control" id="yourPassword" required>
                      <div class="invalid-feedback">Please enter Question!</div>
                    </div>

                    <div class="col-12">
                        <label for="yourPassword" class="form-label">Possible Answers</label>
                        <input type="text" name="Video" class="form-control" placeholder="Ans1, Ans2, Ans3, Ans4" id="yourPassword" required>
                        <div class="invalid-feedback">Please enter Possible Answers!</div>
                      </div>

                      <div class="col-12">
                        <label for="yourPassword" class="form-label">Correct Answer</label>
                        <input type="text" name="Video" class="form-control" id="yourPassword" required>
                        <div class="invalid-feedback">Please enter The Correct Answer!</div>
                      </div>
                    
                    </form>
                    <form>

                        <legend>Set 10</legend>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Question</label>
                      <input type="text" name="Video" class="form-control" id="yourPassword" required>
                      <div class="invalid-feedback">Please enter Question!</div>
                    </div>

                    <div class="col-12">
                        <label for="yourPassword" class="form-label">Possible Answers</label>
                        <input type="text" name="Video" class="form-control" placeholder="Ans1, Ans2, Ans3, Ans4" id="yourPassword" required>
                        <div class="invalid-feedback">Please enter Possible Answers!</div>
                      </div>

                      <div class="col-12">
                        <label for="yourPassword" class="form-label">Correct Answer</label>
                        <input type="text" name="Video" class="form-control" id="yourPassword" required>
                        <div class="invalid-feedback">Please enter The Correct Answer!</div>
                      </div>
                    
                    </form>

                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
                        <label class="form-check-label" for="acceptTerms">I agree and accept the exercise is valid</label>
                        <div class="invalid-feedback">You must agree before submitting.</div>
                      </div>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary w-100" onclick="generateJson()">Submit</button>
                    </div>
                  </div>
                  <div class="card">
                    <h5 class="card-title">Value to Enter Database</h5>
                    <p id="value"></p>
                  </div>

                  <script>

                    var exercise = [
                                [/*Qn1, Qn2 qn3*/],
                                [/* OPTIONS */], 
                                [/*ans1, ans2*/]
                            ]
                    
                    // Generate exercise array from the forms
                    function generateJson() {
                        var forms = document.getElementsByTagName("form");
                        for (var i = 0; i < forms.length; i++) {
                            var options = []
                            var form = forms[i];
                            var qn = form.elements[0].value;
                            var opts = form.elements[1].value;
                            var ans = form.elements[2].value;
                            options.push(opts.split(","));
                            exercise[0].push(qn);
                            exercise[1].push(options[0]);
                            exercise[2].push(ans);
                        }
                        document.getElementById('value').innerHTML=JSON.stringify(exercise);
                    }
                    </script>

                </div>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/dashboard_assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/static/dashboard_assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/dashboard_assets/vendor/chart.js/chart.min.js"></script>
  <script src="/static/dashboard_assets/vendor/echarts/echarts.min.js"></script>
  <script src="/static/dashboard_assets/vendor/quill/quill.min.js"></script>
  <script src="/static/dashboard_assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/static/dashboard_assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="/static/dashboard_assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/dashboard_assets/js/main.js"></script>

</body>

</html>