<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
      
        <title>YLearn</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
      
        <!--Favicons -->
        <link href="dashboard_assets/img/default.png" rel="icon">
        <link href="dashboard_assets/img/default.png" rel="apple-touch-icon">
      
        <!--Google Fonts -->
        <link href="https://fonts.gstatic.com" rel="preconnect">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
      
        <!--Vendor CSS Files -->
        <link href="dashboard_assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="dashboard_assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="dashboard_assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="dashboard_assets/vendor/quill/quill.snow.css" rel="stylesheet">
        <link href="dashboard_assets/vendor/quill/quill.bubble.css" rel="stylesheet">
        <link href="dashboard_assets/vendor/remixicon/remixicon.css" rel="stylesheet">
        <link href="dashboard_assets/vendor/simple-datatables/style.css" rel="stylesheet">
      
        <!--Main CSS File -->
        <link href="dashboard_assets/css/style.css" rel="stylesheet">
      </head>

<body>

  <main>
    <div class="container">

      <section class="section Signup min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="dash.html" class="logo text-decoration-none text-lg-start">
                  <h1 class="text-center">Ylearn</h1>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Create New Child Account</h5>
                    <p class="text-center small">Enter your Child's details to create account</p>
                  </div>

                  <form class="row g-3 needs-validation" action="/signup" method="post" novalidate>
                    <div class="col-12">
                      <label for="name" class="form-label">Child's Name</label>
                      <input type="text" name="name" class="form-control" id="yourName" required>
                      <div class="invalid-feedback">Please, enter your child's name!</div>
                    </div>

                    <div class="col-12">
                      <label for="name" class="form-label">Child's Username</label>
                      <input type="text" name="name" class="form-control" id="yourName" required>
                      <div class="invalid-feedback">Please, enter your child's Username!</div>
                    </div>
                    <fieldset class="col-12">
                      <legend class="col-sm-2 col-form-label">Gender</legend>
                      <div class="col-sm-10">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="gender" id="gridRadios1" value="MALE" checked>
                          <label class="form-check-label" for="gridRadios1">
                            Male
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="gender" id="gridRadios2" value="FEMALE">
                          <label class="form-check-label" for="gridRadios2">
                            Female
                          </label>
                        </div>
                      </div>
                    </fieldset>
                    <div class="col-12">
                        <label class="col-sm-2 col-form-label">Class</label>
                        <div class="col-sm-10">
                          <select name="class" class="form-control" aria-label="Default select example">
                            <option value="1">Primary One</option>
                            <option value="2">Primary Two</option>
                            <option value="3">Primary Three</option>
                            <option value="4">Primary Four</option>
                            <option value="5">Primary Five</option>
                            <option value="6">Primary Six</option>
                            <option value="7">Primary Seven</option>
                          </select>
                        </div>
                    </div>
                    <div class="col-12">
                      <label for="dob" class="form-label">Date Of Birth</label>
                      <input type="date" name="dob" class="form-control" id="dob" required>
                      <div class="invalid-feedback">Please enter your child's Date of Birth</div>
                    </div>
                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
                        <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and conditions</a></label>
                        <div class="invalid-feedback">You must agree before submitting.</div>
                      </div>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Register Child</button>
                    </div>
                  </form>

                </div>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="dashboard_assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="dashboard_assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="dashboard_assets/vendor/chart.js/chart.min.js"></script>
  <script src="dashboard_assets/vendor/echarts/echarts.min.js"></script>
  <script src="dashboard_assets/vendor/quill/quill.min.js"></script>
  <script src="dashboard_assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="dashboard_assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="dashboard_assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="dashboard_assets/js/main.js"></script>

</body>

</html>