<!DOCTYPE html>
<html lang="en" class="">

  <style>
    body{background-image:url("/static/img/polka.jpg");}
  </style>

<head>
  <meta charset="UTF-8">
  <title>YLeran || Chat</title>
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/static/css/chatcss.css">
  {% include 'injected.html' %}
</head>

<body>

<!-- Welcome Page -->
<div id="welcome-page">
<div class="modal" id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Welcome To  Ask A Teacher <img src="https://img.icons8.com/fluency/30/000000/ask-question.png"/></h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div style="text-align:center;" class="modal-body">
    <p> Which Subject Are You Asking For</p>
            <form>
                <a onclick="chatWith('rodneytaremwa29@gmail.com')" button style="text-align:center; background-color: #F01D7F; color:#FFFFFF;" class="button"><span> Math  <img src="https://img.icons8.com/external-xnimrodx-lineal-color-xnimrodx/30/000000/external-math-school-xnimrodx-lineal-color-xnimrodx.png"/></span></button></a><br>
                <a onclick="chatWith('sycamore29@gmail.com')" button style="text-align:center; background-color: 	#FF8000; color:#FFFFFF;" class="button"><span> SST   <img src="https://img.icons8.com/clouds/50/000000/globe--v2.png"/></span></button></a><br>
                <a onclick="chatWith('ced@c.com')" button style="text-align:center; background-color: #0080FF; color:#FFFFFF;" class="button"><span> Science <img src="https://img.icons8.com/office/30/000000/test-tube.png"/> </span></button></a><br>
                <a onclick="chatWith('ssekayombyabarnabas8@gmaill.com')" button style="text-align:center; background-color: #009900; color:#FFFFFF;" class="button"><span> English <img src="https://img.icons8.com/color-glass/30/000000/abc.png"/> </span></button></a><br>
            </form>      
        </div>
    </div>
</div>
</div>
</div>
<!-- End Welcome Page -->

  <!-- Chat section -->
  <div id="main-chat">
  <div id="center-text">
    <h2>ChatBox UI</h2>
    <p>Message send and scroll to bottom enabled </p>
  </div>
  <div id="body">

    <div id="chat-circle" class="btn btn-raised" style="display: none;">
      <div id="chat-overlay"></div>
      <i class="material-icons">speaker_phone</i>
    </div>

    <div class="chat-box" style="display: block;">
      <div class="chat-box-header">
        Chat
        <span class="chat-box-toggle"><i class="material-icons">close</i></span>
      </div>
      <div class="chat-box-body">
        <div class="chat-box-overlay">
        </div>

        <!-- Start of Chat Messages -->
        <div class="chat-logs">
        
        </div>

        <div class="chat-input">
          <form id='messageInput'>
            <!-- Request kwags -->
            <input name="method" type="hidden" value="send">
            <input name="sender" type="hidden" value="{{sender}}">
            <!-- End of Request kwags -->
            <input type="text" id="chat-input" name="message" placeholder="Send a message...">
            <p onclick="sendMessage()" class="chat-submit" id="chat-submit"><i
                class="material-icons">send</i></p>
          </form>
        </div>
      </div>

    </div> </div>
    <!-- End of Chat Messages -->
  </div>
    <!-- partial -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.4/js/tether.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="/static/js/chat_script.js"></script>
    
    <script type="text/javascript">
      localStorage.setItem("sender", "{{sender}}");
    </script>


</body>

</html>