<!DOCTYPE html>
<html lang="en" class="">

  <style>
    body{background-image:url("polka.jpg");}
  </style>

<head>
  <meta charset="UTF-8">
  <title>CodePen - Chat UI</title>
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/static/css/chatcss.css">
</head>

<body>
  <!-- partial:index.partial.html -->
  <div id="center-text">
    <h2>ChatBox UI</h2>
    <p>Message send and scroll to bottom enabled </p>
  </div>
  <div id="body">

    <div id="chat-circle" class="btn btn-raised" style="display: none;">
      <div id="chat-overlay"></div>
      <i class="material-icons">speaker_phone</i>
    </div>

    <div class="chat-box" style="display: block;">
      <div class="chat-box-header">
        ChatBot
        <span class="chat-box-toggle"><i class="material-icons">close</i></span>
      </div>
      <div class="chat-box-body">
        <div class="chat-box-overlay">
        </div>

        <!-- Start of Chat Messages -->
        <div class="chat-logs">
        
        </div>

        <div class="chat-input">
          <form id='messageInput' action="/sendMessage?method=send&sender={{sender}}&receiver={{receiver}}">
            <!-- Request kwags -->
            <input name="method" type="hidden" value="send">
            <input name="sender" type="hidden" value="{{sender}}">
            <input name="receiver" type="hidden" value="{{receiver}}">
            <!-- End of Request kwags -->
            <input type="text" id="chat-input" name="message" placeholder="Send a message...">
            <p onclick="sendMessage()" class="chat-submit" id="chat-submit"><i
                class="material-icons">send</i></p>
          </form>
        </div>
      </div>

    </div>
    <!-- partial -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="/static/js/chat_script.js"></script>
    
    <script type="text/javascript">
      displayMessages('{{sender}}', '{{receiver}}');
    </script>


</body>

</html>