<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Ylearn</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons
  <link href="/static/childAssets/img/favicon.png" rel="icon">
  <link href="/static/childAssets/img/apple-touch-icon.png" rel="apple-touch-icon">-->

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/childAssets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/childAssets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/childAssets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/childAssets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/static/childAssets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/static/childAssets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/childAssets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/childAssets/css/style.css" rel="stylesheet">
  {% include 'injected.html' %}


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/dashboard?for=student" class="logo d-flex align-items-center">
        <span class="d-none d-lg-block">YLearn</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->
    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{{child.Profile_Picture}}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{child.Name}}</span>
          </a><!-- End Profile Image Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{session['Name']}}</h6>
              <span>Primary {{session['Class']}}</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/u/userprofile">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/u/userprofile">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="/u/signout">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/dashboard?for=student">
          <i class="bi bi-grid"></i>
          <span>ClassRoom</span>
        </a>
      </li><!-- End ClassRoom Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="/u/userprofile">
        <i class="bi bi-person"></i>
        <span>Profile</span>
      </a>
    </li><!-- End Profile Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="/chat">
        <i class="bi bi-question-circle"></i>
        <span>Ask Question</span>
      </a>
    </li><!-- End F.A.Q Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Profile</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Users</li>
          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

              <img src="{{child.Profile_Picture}}" alt="Profile" class="rounded-circle">
              <h2>{{child.Name}}</h2>
              <h3>Primary {{child.Class}}</h3>
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">About</h5>
                  <p class="small fst-italic">My name is {{child.Name}}. I was born on {{child.DOB}}. I am in Primary {{child.Class}}.</p>

                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                    <div class="col-lg-9 col-md-8">{{child.Name}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Class</div>
                    <div class="col-lg-9 col-md-8">Primary {{child.Class}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Parent Email</div>
                    <div class="col-lg-9 col-md-8">{{child.Parent}}</div>
                  </div>

                </div>
              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/childAssets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/static/childAssets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/childAssets/vendor/chart.js/chart.min.js"></script>
  <script src="/static/childAssets/vendor/echarts/echarts.min.js"></script>
  <script src="/static/childAssets/vendor/quill/quill.min.js"></script>
  <script src="/static/childAssets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/static/childAssets/vendor/tinymce/tinymce.min.js"></script>
  <script src="/static/childAssets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/childAssets/js/main.js"></script>

</body>

</html>